<div class="row">
  <div class="card-container col-sm-12 col-md-12 col-lg-12" *ngFor="let card of cards">
    <div class="card flash-card">
      <div class="card-header">
        <span class="card-title">{{ card.title }}</span>
        <app-fcard-actions [id]="card.id"></app-fcard-actions>
      </div>
      <div class="card-body text-center">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
