/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
$font-family-sans-serif: 'Open Sans', sans-serif !default;

@import "~bootstrap/scss/bootstrap";

$ionicons-font-path: "../node_modules/ionicons/fonts";
@import "~ionicons/scss/ionicons";

.navbar {
  padding: $navbar-padding-y $navbar-padding-x 0 !important;

  i {
    font-size: 32px;
  }

}
